<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.depaul.edu.se491.*" />

    <context:property-placeholder location="classpath:app.properties"/>

    <!-- ************ JPA configuration *********** -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:config/persistence.xml" />
        <property name="persistenceUnitName" value="cityOfChicagoStatsPersistence" />
        <property name="dataSource" ref="cityOfChicagoStatsDS" />
        <property name="packagesToScan" value="com.depaul.edu.se491.*" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="true" />
                <property name="databasePlatform" value="org.hibernate.dialect.PostgreSQL82Dialect" />
            </bean>
        </property>
    </bean>

    <bean id="userDao" class="com.depaul.edu.se491.dao.user.UserDaoImpl"/>
    <bean id="userRoleDao" class="com.depaul.edu.se491.dao.user.UserRoleDaoImpl"/>
    <bean id="favoriteDatasetsDao" class="com.depaul.edu.se491.dao.favorites.FavoriteDatasetsDaoImpl"/>
    <bean id="alertQueriesDao" class="com.depaul.edu.se491.dao.alert.AlertQueriesDaoImpl"/>

    <bean id="queryService" class="com.depaul.edu.se491.service.query.QueryServiceImpl">
        <constructor-arg name="url" value="${app.socrata_url}"/>
        <constructor-arg name="user" value="${app.socrata_username}"/>
        <constructor-arg name="password" value="${app.socrata_password}"/>
        <constructor-arg name="token" value="${app.socrata_app_token}"/>
    </bean>

    <bean id="emailService" class="com.depaul.edu.se491.service.email.EmailServiceImpl">
        <constructor-arg name="applicationEmail" value="${app.email}"/>
        <constructor-arg name="applicationPassword" value="${app.email_password}"/>
    </bean>

    <bean id="userService" class="com.depaul.edu.se491.service.user.UserServiceImpl"/>
    <bean id="userRoleService" class="com.depaul.edu.se491.service.user.UserRoleServiceImpl"/>
    <bean id="userFavoriteDatasetsService" class="com.depaul.edu.se491.service.favorites.FavoriteDatasetsServiceImpl"/>
    <bean id="userAlertQueriesService" class="com.depaul.edu.se491.service.alert.AlertQueriesServiceImpl"/>

    <bean id="sodaResource" class="com.depaul.edu.se491.resource.soda.SodaResource"></bean>

    <bean id="cityOfChicagoStatsDS" class="org.springframework.jndi.JndiObjectFactoryBean" scope="singleton">
        <property name="jndiName" value="java:comp/env/jdbc/restChicagoStatsDB" />
        <property name="resourceRef" value="true" />
    </bean>
</beans>