<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
    <persistence-unit name="cityOfChicagoStatsPersistence">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>

        <class>com.depaul.edu.se491.dao.user.UserEntity</class>
        <class>com.depaul.edu.se491.dao.user.UserRoleEntity</class>
        <class>com.depaul.edu.se491.dao.favorites.FavoriteDatasetsEntity</class>
        <class>com.depaul.edu.se491.dao.alert.AlertQueriesEntity</class>
    </persistence-unit>
</persistence>