<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:import resource="classpath:spring/applicationContext.xml"/>

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/login" access="isAnonymous()"/>
        <intercept-url pattern="/**" access="hasAnyRole('USER', 'ROLE_ADMIN')"/>

        <!-- access denied page -->
        <access-denied-handler error-page="/403"/>

        <form-login
                login-page="/login"
                default-target-url="/"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password"/>
        <logout logout-success-url="/"/>
        <!-- enable csrf protection -->
        <!--<csrf/>-->
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="customJdbcDaoImpl"/>
    </authentication-manager>

</beans:beans>